/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 8px;
}

@media screen and (min-width: 800px) {
    body {
        background: rgba(0, 0, 255, .2);
        margin: 20px;
    }
    article p {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(138, 104, 170);
    }
    article p {
        font-size: 19px;
        max-width: 100%;
    }
    figure img {
        width: 80%;
    }
}

body {
    font-size: 25px;
}

h1 {
    font-size: 30px;
}

img {
    max-width: 100%;
}

figure {
    margin-bottom: 30px;
    width: 50%;
}

figcaption {
    font-size: .8em;
}