.super-mario {
  width: 200px;
  position: absolute;
  left: 400px;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 500px;
  top: 300px;
  z-index: 2;
}

.baloon {
  width: 150px;
}

.speach {
  font-size: 13px;
  position: absolute;
  top: 97px;
  left: 15px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 150px;
  top: 140px;
}